<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="BookVO" type="net.mbiz.library.data.BookVO"/>        
        <typeAlias alias="BorrowVO" type="net.mbiz.library.data.BorrowVO"/>        
    </typeAliases>
 
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=BOOKMGR"/>
                <property name="username" value="jang"/>
                <property name="password" value="1234"/>
            </dataSource>
       </environment>
    </environments>
    
    <mappers>
    	<!-- 생성한 매퍼 매핑 -->
       <mapper resource="resources/sqlmap/Book-Mapper.xml"/>
    </mappers>
</configuration>
