<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">
	
	<resultMap id="BookMap" type="BookVO">
		<result property="bookIsbn" column="BK_ISBN" />
		<result property="bookNm" column="BK_NM" />
		<result property="bookWtr" column="BK_WTR" />
		<result property="publisher" column="BK_PBLSR" />
		<result property="releaseDate" column="BK_RLS" />
		<result property="category" column="CATEGORY" />
		<result property="isBorrowed" column="ISBORROW" />
		<result property="booksub" column="BK_SUB" />
		<result property="registDate" column="BK_REG" />
		<result property="updateDate" column="BK_UDT" />
		
		<result property="isSelect" column="isSelect" />
		<result property="query" column="query" />
		<result property="option" column="option" />
	</resultMap>
	


	
	<select id="selectBookList" resultMap="BookMap">
		SELECT 
			   BK_ISBN          /* 도서 isbn*/   
			 , BK_NM            /* 도서명*/           
			 , BK_WTR           /* 저자*/            
			 , BK_PBLSR         /* 출판사*/           
			 , BK_RLS           /* 출간일*/           
			 , CATEGORY         /* 카테고리*/          
			 , ISBORROW         /* 대출가능=0 대출중=1*/  
			 , BK_SUB           /* 도서 소개글*/        
			 , BK_REG           /* 등록일자*/ 
			 , BK_UDT           /* 수정일자*/ 
		FROM   BOOK
	</select>
	
	<insert id="insertBook" parameterType="BookVO">
		INSERT INTO BOOK 
							(
								BK_ISBN         /* 도서 isbn*/
							  , BK_NM           /* 도서명*/   
							  , BK_WTR          /* 저자*/    
							  , BK_PBLSR        /* 출판사*/   
							  , BK_RLS          /* 출간일*/   
							  , CATEGORY        /* 카테고리*/  
							  , BK_SUB          /* 도서 소개글*/
							  
							  ) VALUES (
							  				 #{bookIsbn}
							  			   , #{bookNm}
							  			   , #{bookWtr}
							  			   , #{publisher}
							  			   , #{releaseDate}
							  			   , #{category}
							  			   , #{booksub}
							  			)
	</insert>
	
	<update id="updateBook" parameterType="BookVO">
		UPDATE BOOK 
		SET	   BK_NM    = #{bookNm}     
			 , BK_WTR   = #{bookWtr}    
			 , BK_PBLSR = #{publisher}  
			 , BK_RLS   = #{releaseDate}
			 , CATEGORY = #{category}   
			 , BK_SUB   = #{booksub}    
		WHERE  BK_ISBN  = #{bookIsbn}  
	</update>
	
	<delete id="deleteBook" parameterType="String">
		DELETE 
		FROM   BOOK
		WHERE  BK_ISBN = #{bookIsbn}  
	</delete>
	
	
	<!-- detail -->
	<select id="selectBookOne" parameterType="java.lang.String" resultMap="BookMap">
		SELECT 
			   BK_ISBN
			 , BK_NM            
			 , BK_WTR           
			 , BK_PBLSR         
			 , BK_RLS           
			 , CATEGORY         
			 , ISBORROW          
			 , BK_SUB           
			 , BK_REG           
			 , BK_UDT           
		FROM   BOOK
		WHERE BK_ISBN = #{bookIsbn} 
	</select>
	
	<!-- 도서 대출하기. -->
	<update id="updateBookState" parameterType="BookVO"> 
		UPDATE BOOK 
			<if test="isBorrowed == 1">
			SET	   ISBORROW = (0)
			</if>  
			<if test="isBorrowed == 0">
			SET	   ISBORROW = (1)
			</if>   
		WHERE  BK_ISBN = #{bookIsbn}  
	</update>
	
	<select id="searchBookList" parameterType="BookVO" resultMap="BookMap">
		SELECT 
				  BK_ISBN  
				, BK_NM    
				, BK_WTR   
				, BK_PBLSR 
				, BK_RLS   
				, CATEGORY 
				, ISBORROW 
				, BK_SUB   
				, BK_REG   
				, BK_UDT   
		FROM BOOK
		<where>
		<if test="option == null or option =='all' ">
		AND (
				BK_NM like '%' + #{query} + '%'
		OR		BK_WTR like '%' + #{query} + '%'
		OR		BK_PBLSR like '%' + #{query} + '%'
		) 
		</if> 
		<if test="option != null and option =='bookNm' ">
		AND  BK_NM like '%' + #{query} + '%'
		</if> 
		<if test="option != null and option =='bookWtr' ">
		AND  BK_WTR like '%' + #{query} + '%'
		</if> 
		<if test="option != null and option =='publisher' ">
		AND  BK_PBLSR like '%' + #{query} + '%'
		</if>
		</where> 
	</select>
	
	
</mapper>