<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BorrowMapper">
	
	<resultMap id="BorrowMap" type="BorrowVO">
		<result property="borrowNo" column="BW_NO" />
		<result property="bookIsbn" column="BK_ISBN" />
		<result property="bookNm" column="BK_NM" />
		<result property="bookWtr" column="BK_WTR" />
		<result property="startDate" column="BW_START" />
		<result property="endDate" column="BW_END" />
		<result property="returnDate" column="BW_RETURN" />
		<result property="overdue" column="BW_OVERDUE" />
		<result property="isBorrowed" column="ISBORROW" />
		
		<result property="isSelect" column="isSelect" />
		<result property="query" column="query" />
		<result property="option" column="option" />
	</resultMap>
	


	
	<select id="selectBorrowkList" resultMap="BorrowMap">
		SELECT 
			   BW_NO             
			 , BK_ISBN           
			 , BK_NM             
			 , BK_WTR            
			 , BW_START          
			 , BW_END            
			 , BW_RETURN         
			 , BW_OVERDUE        
			       
		FROM   BORROW
	</select>
	
	<insert id="insertBorrow" parameterType="BorrowVO">
		INSERT INTO BORROW 
							(
								       
							    BK_ISBN       
							  , BK_NM         
							  , BK_WTR        
							  
							  ) VALUES (
							  				 #{bookIsbn}
							  			   , #{bookNm}
							  			   , #{bookWtr}
							  			)
	</insert>
	
	<!-- 반납라기 -->
	<update id="updateBorrow" parameterType="BorrowVO">
		UPDATE BORROW 
		SET	   BW_RETURN   = GETDATE()  
			 , BW_OVERDUE  = #{overdue}    
		WHERE  BW_NO       = #{borrowNo}  
	</update>
	
	<delete id="deleteBorrow" parameterType="int">
		DELETE 
		FROM   BORROW
		WHERE  BW_NO = #{borrowNo}  
	</delete>
	
		<!-- detail -->
	<select id="selectBorrowOne" parameterType="int" resultMap="BorrowMap">
		SELECT 
			   BW_NO
			 , BK_ISBN          
			 , BK_NM            
			 , BK_WTR           
			 , BW_START         
			 , BW_END            
			 , BW_RETURN        
			 , BW_OVERDUE       
			 
		FROM   BORROW
		WHERE BW_NO = #{borrowNo} 
	</select>
	
	
	<select id="searchBorrowList" parameterType="BorrowVO" resultMap="BorrowMap">
		SELECT 
				  BW_NO        
				, BK_ISBN      
				, BK_NM        
				, BK_WTR       
				, BW_START     
				, BW_END       
				, BW_RETURN    
				, BW_OVERDUE   
		FROM BORROW
		<where>
		<if test="option == null or option =='all' ">
		AND (
				BK_NM like '%' + #{query} + '%'
		OR		BK_WTR like '%' + #{query} + '%'
		) 
		</if> 
		<if test="option != null and option =='bookNm' ">
		AND BK_NM like '%' + #{query} + '%'
		</if> 
		<if test="option != null and option =='bookWtr' ">
		AND BK_WTR like '%' + #{query} + '%'
		</if> 
		</where>
	</select>
	
	
	
	
	
</mapper>